<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartmini.zby.testl"
    android:versionCode="20"
    android:versionName="1.20" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
         >
        <activity
            android:name="com.example.testl.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.testl.DeviceListActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name="com.example.testl.DeviceScanActivity" android:screenOrientation="portrait" android:theme="@style/bg_null_bottom"></activity>
        <activity android:name="com.example.testl.DeviceViewPageActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name="com.example.testl.DialogSceneListActivity" android:screenOrientation="portrait"   android:theme="@style/bg_null"></activity>
        <activity android:name="com.example.testl.SettingActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name="com.example.testl.SceneDetailActivity" android:screenOrientation="portrait" android:theme="@style/bg_null"></activity>
        <activity android:name="com.example.testl.ViewPageActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.ViewPageGroupActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.ViewPagerLightActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.ViewPagerSceneActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.ViewPagerSettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.TimingDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.TimingListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.testl.GetWheelActivity" android:screenOrientation="portrait"  android:theme="@style/bg_null"></activity>
        <activity android:name="com.example.testl.SettingGuideViewActivity" android:screenOrientation="portrait"  ></activity>
        <activity android:name="com.example.testl.SettingHelpActivity" android:screenOrientation="portrait"  ></activity>
        
     <service 
            android:name="com.zby.ibeacon.bluetooth.BluetoothLeService" android:enabled="true"></service>
     <service 
            android:name="com.zby.ibeacon.bluetooth.BluetoothLeServiceMulp" android:enabled="true"></service>
    </application>
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

</manifest>
